body {
  margin: 0;
  background-color: #f5f5f5;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #FFE900;
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
}

header h1 {
  font-family: sans-serif;
  font-size: 7vh;
  color: white;
  margin-left: 3vw;
}

nav {
  display: flex;
  width: 50vw;
  background-color: #CCBB00;
  height: 5vh;
  justify-content: center;
  align-items: center;
}

nav a {
  display: flex;
  height: 5vh;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: 0.3s;
}

nav a:hover {
  opacity: 1;
  background-color: #E0CE00;
}

nav a, nav a:link, nav a:visited {
  text-decoration: none;
}

nav div p {
  color: #212121;
  font-family: sans-serif;
}

@media screen and (max-width: 800pt) {

  nav {
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }

}
